<footer class="bg-white text-center text-dark">
  <div class="container p-4 pb-0">
    <div class="row align-items-center">

      <!-- Social media section -->
      <div class="col-lg-12 mb-4">
        <section>
          <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-google"></i></a>
          <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-linkedin-in"></i></a>
          <a class="btn btn-outline-primary btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        </section>
         <!-- Copyright section -->
      <div class="col-lg-12">
        <div class="text-center p-3" style="background-color: rgb(255, 251, 251);">
          © 2023 Copyright: AskMate
        </div>
      </div>
      </div>

     

    </div>
  </div>
</footer>
